.bk{
    background-image: url("imgs/bk.jpg");
    width: auto;
    height: auto;
    background-size: 1440px 2160px;
    /* background-color: rgb(203, 237, 226); */
}
.font{
  font-family: '方正舒体', Arial, sans-serif;
  line-height: 1.5;
  font-size: 25px;
}
.font_1{
    font-family: '方正舒体', Arial, sans-serif;
    line-height: 1.5;
    font-size: 25px;
    color: #5F9F9F;
  }

h3:hover {
cursor: pointer;/*设置光标的样式为指针样式*/
}
.image {
    width: 25px;
    height: 25px;
}
#gototop {
    width: 2vw;
    height: auto;
    position: fixed;
    top: 80vh;
    right: 1%;
    margin: auto;
    display: none;
    cursor: pointer;
}
.btn{
    font-size: 20px;
    border-radius: 50px;
}
/*body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}*/